<section class="footer-legal">
  <div class="container flex-content">
    <span class="copyright">Copyright © 2018 - Designed by ROI UP </span>
    <ul class="site-nav">
      <li class="site-nav__item">
        <a href="#">
          Home
        </a>
      </li>
      <li class="site-nav__item">
        <a href="#">
          About us
        </a>
      </li>
      <li class="site-nav__item">
        <a href="#">
          Headers
        </a>
      </li>
      <li class="site-nav__item">
        <a href="#">
          Portfolio
        </a>
      </li>
      <li class="site-nav__item">
        <a href="#">
          Features
        </a>
      </li>
      <li class="site-nav__item">
        <a href="#">
          Contact
        </a>
      </li>
    </ul>
  </div>
</section>
