.btn {
  border: 1px solid;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  padding: 11px 24px;
  transition: all .25s;

  &--sm {
    font-size: 13px;
    padding: 7px 10px;
    line-height: 1;
  }

  &-primary {
    background: $primary-color;

    &:hover {
      // background: #4BB6C4;
      background: #5AE0F2;
    }
  }

  &-secondary {
    background: $text-black-1;

    &:hover {
      background: #2E2E2E;
    }
  }

  &-white {
    border: none;
    background: $white;
    color: $text-black-1;
  }
}