.hero {
  background-image: url("../assets/img/hero-image.jpg");
  position: relative;

  &-container {
    flex-direction: column;
    padding-top: 108px;
    padding-bottom: 70px;
  }

  &__title {
    border: 5px solid;
    color: $white;
    font-size: 37px;
    letter-spacing: 7px;
    margin: 0;
    padding: 23px 33px 28px;
    text-transform: uppercase;
    text-align: center;

    span {
      color: $primary-color;
    }
  }

  &__list {
    display: flex;
    margin: 65px 0;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 24px;

    .icon {
      color: $primary-color;
      font-size: 12px;
    }

    span {
      color: $text-hero-color;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1;
      margin-left: 6px;
    }

    &:nth-child(1) {
      margin-right: 60px;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }

    @media screen and (max-width: 768px) {
      &:nth-child(1) {
        justify-content: center;
        grid-column: span 2;
      }
    }
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 46%;
    width: 100%;

    span {
      padding: 15px 18px;
      border: 1px solid #C4C8CB;
      cursor: pointer;

      &:nth-child(1) {
        margin-left: 17px;
      }

      &:nth-child(2) {
        margin-right: 17px;
      }
    }

    .icon {
      color: white;
      font-size: 17px;
    }

    @media screen and (max-width: 1050px) {
      top: 85%;
    }
  }

  @media screen and (max-width: 767px) {
    &__title {
      font-size: 25px;
    }
  }
}