.main-nav {
  padding: 12px 159px;

  .menu {
    position: relative;
  }

  .roi-logo {
    display: flex;
    align-items: center;

    span {
      color: $text-black-1;
      font-size: 1.25rem;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .nav-items {
    margin-right: 14px;

    li.only-show-mobile{
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
      box-shadow: 0 8px 24px rgba(0,0,0,0.13);
      padding: 0 32px;
      margin-top: 20px;
      margin-right: 0;

      &.open {
        display: block;
      }
    }
  }

  .logo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .toggle-mobile-menu {
      .icon {
        font-size: 30px;
        color: $text-black-1;
      }

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0 32px;
    }
  }

  .has-dropdown {
    .open-dropdown {
      @media screen and (max-width: 768px) {
        &.open::before {
          transform: rotate(-90deg);
        }

        &::before {
          content: "";
          position: absolute;
          right: 5px;
          top: 40%;
          display: block;
          border-right: 6px solid $icons-grey-1;
          border-bottom: 5px solid transparent;
          border-top: 5px solid transparent;
          width: 0;
          height: 0;
          transform: rotate(-180deg);
          transition: all .5s;
        }
      }
    }
  }

  li:hover .dropdown {
    display: block;
  }

  &__link {
    display: block;
    color: $text-black-1;
    font-size: 14px;
    padding: 21px 15px;
    position: relative;

    @media screen and (max-width:768px) {
      padding: 21px 0;
    }

    @media screen and (min-width: 768px) {
      &::after {
        content: "";
        display: none;
        width: 0;
        height: 2px;
        background: 0 0;
        position: relative;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .25s;
      }

      &::after {
        display: block
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 12px 79px;
  }

  @media screen and (max-width: 768px) {
    &.flex-content {
      flex-direction: column;
      align-items: normal;
      padding: 12px 0;
    }

    padding: 12px 9px;

  }

  @media screen and (min-width: 768px) {
    li:hover &__link::after {
      background: $primary-color;
      width: 100%;
    }

    li:hover &__link{
      color: $primary-color;
    }
  }
}