.secondary-nav {
  border-bottom: 1px solid $secondary-nav-boder-color;
  padding: 0 167px;

  @media screen and (max-width: 1024px) {
    padding: 0 87px;
  }

  @media screen and (max-width: 768px) {
    display: none !important;
    padding: 0 17px;
  }

  &__contact {
    .icon {
      color: $primary-color;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    border-right: 1px solid $secondary-nav-boder-color;

    &:nth-child(1) {
      border-left: 1px solid $secondary-nav-boder-color;
    }

    &--no-border {
      border-right: none
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 12px;
    transition: all .3s ease;

    &:hover {
      color: $primary-color;
    }

    &:hover .icon {
      fill: $primary-color;
    }

    span {
      margin-left: 4px;
    }
  }
}