html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

h3, .h3 {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  line-height: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $icons-grey-1;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}