<section id="about" class="about">
  <div class="container--md">
    <h2 class="title">ROI UP is <span>Digital Marketing Agency</span> With Endless Possibilities</h2>
    <p class="paragraph">Huy Everyone! We are ROI UP Agency and we make really beautiful and amazing stuff. This can be used to describe what you do, how you do it fot. Don't Miss the Awesome Theme</p>
    <div clas="about__buttons">
      <button class="btn btn-primary">See more</button>
      <button class="btn btn-secondary">Tell me more</button>
    </div>
  </div>
</section>