<section class="hero bg-image">
  <div class="container">
    <div class=" hero-container flex-content">
      <h1 class="hero__title">
        Web Design for your <span>company</span>
      </h1>
      <ul class="hero__list">
        <li class="hero__item">
          <span>ROI UP Agency</span>
        </li>
        <li class="hero__item">
          <div></div>
          <span>100% responsive</span>
        </li>
        <li class="hero__item">
          <div></div>
          <span>Retina display</span>
        </li>
        <li class="hero__item">
          <div></div>
          <span>30+ Homepages</span>
        </li>
        <li class="hero__item">
          <div></div>
          <span>150+ valid templates</span>
        </li>
        <li class="hero__item">
          <div></div>
          <span>Unlimited colors</span>
        </li>
      </ul>
    </div>
  </div>
</section>