<main>
  <include src="html/components/hero-section.html"></include>
  <include src="html/components/about-section.html"></include>
  <include src="html/components/screenshot-section.html"></include>
  <include src="html/components/services-section.html"></include>
  <include src="html/components/skills-section.html"></include>
  <include src="html/components/process-section.html"></include>
  <include src="html/components/projects-section.html"></include>
  <include src="html/components/testimonials.html"></include>
</main>