<section class="process bg-image">
  <div class="container">
    <h2 class="title title--underline title--white">Our Working Process</h2>
    <h4 class="process__subtitle">These is the team behind ROI UP Agency</h4>
    <div class="process__items">
      <article class="process__item">
        <div>
          <svg class="icon">
            <use href="#icon-print" xlink:href="#icon-print" />
          </svg>
          <span>Print Ready</span>
        </div>
      </article>
      <article class="process__item">
        <div>
          <svg class="icon">
            <use href="#icon-bulb" xlink:href="#icon-bulb" />
          </svg>
          <span>Planning</span>
        </div>
      </article>
      <article class="process__item">
        <div>
          <svg class="icon">
            <use href="#icon-built" xlink:href="#icon-built" />
          </svg>
          <span>Built with care</span>
        </div>
      </article>
      <article class="process__item">
        <div>
          <svg class="icon">
            <use href="#icon-html-5" xlink:href="#icon-html-5" />
          </svg>
          <span>Clean and Simple</span>
        </div>
      </article>
    </div>
  </div>
</section>