<section class="projects">
  <h2 class="title title--underline">Latest Projects</h2>
  <div class="projects__buttons">
    <button class="btn btn--sm btn-primary">All</button>
    <button class="btn btn--sm btn-primary">Photography</button>
    <button class="btn btn--sm btn-primary">App Design</button>
    <button class="btn btn--sm btn-primary">Logo</button>
  </div>
  <div class="projects__grid">
    <figure class="project span-2">
      <img src="../assets/img/project-1.jpg" alt="">
    </figure>
    <figure class="project">
      <img src="../assets/img/project-2.jpg" alt="">
    </figure>
    <figure class="project span-2">
      <img src="../assets/img/project-3.jpg" alt="">
    </figure>
    <figure class="project">
      <img src="../assets/img/project-4.jpg" alt="">
    </figure>
    <figure class="project span-2">
      <img src="../assets/img/project-5.jpg" alt="">
    </figure>
    <figure class="project">
      <img src="../assets/img/project-6.jpg" alt="">
    </figure>
    <figure class="project">
      <img src="../assets/img/project-7.jpg" alt="">
    </figure>
  </div>
  <button class="btn btn-primary">View All Projects</button>
</section>