<section class="services">
  <div class="container">
    <div class="services__items">
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-bulb" xlink:href="#icon-bulb" />
        </svg>
        <div class="services__info">
          <h3>Creativity</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-setting" xlink:href="#icon-setting" />
        </svg>
        <div class="services__info">
          <h3>SEO</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-tablet" xlink:href="#icon-tablet" />
        </svg>
        <div class="services__info">
          <h3>Performance</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-folder" xlink:href="#icon-folder" />
        </svg>
        <div class="services__info">
          <h3>Content Factory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-google-plus" xlink:href="#icon-google-plus" />
        </svg>
        <div class="services__info">
          <h3>Social Media</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
      <article class="services__item">
        <svg class="icon">
          <use href="#icon-menu" xlink:href="#icon-menu" />
        </svg>
        <div class="services__info">
          <h3>Responsive Web Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam</p>
          <a href="#">Read More...</a>
        </div>
      </article>
    </div>
    <div class="services-copy">
      <div class="services-copy__text">
        <h2><span>ROI UP.</span> CUSTOMER SERVICE IS NOT A DEPARTMENT. IT'S AN ATTITUDE!</h2>
        <p>Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
      </div>
      <button class="btn btn-white">Contact</button>
    </div>
  </div>
</section>