<section class="testimonials bg-image">
  <div class="container">
    <div class="testimonial">
      <blockquote>
        Gorgeous, just gorgeous I love this theme. The nices theme I ever worked with and I have worked with hundreds of them. Thanks for beautiful work, keep it up!
      </blockquote>
      <span class="testimonial__author">James Watson - Bogotá</span>
    </div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
  </div>
</section>