@import './footer-legal';
@import './footer-info';

.footer {
  background: $bg-footer;

  @media screen and (max-width: 457px) {
    text-align: center;
  }

  text-align: center;

  p {
    font-size: 11px;
    line-height: 19px;
  }
}