<div class="dropdown">
  <div class="dropdown__inner">
    <div class="intro">
      <p class="subhead">Features</p>
    </div>
    <ul class="dropdown__items">
      <li class="dropdown__item">
        <a href="#" class="dropdown__link">
          <p class="h3">SEO</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </a>
      </li>
      <li class="dropdown__item">
        <a href="#" class="dropdown__link">
          <p class="h3">Content Factory</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </a>
      </li>
      <li class="dropdown__item">
        <a href="#" class="dropdown__link">
          <p class="h3">Social Media</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </a>
      </li>
    </ul>
  </div>
</div>