<nav class="main-nav flex-content">
  <ul class="menu logo-items">
    <li class="logo">
      <a href="#" class="roi-logo">
        <img
          src="../assets/logo.png"
          alt="logo"
          width="47px"
          height="46px">
        <span>ROI UP Agency</span>
      </a>
    </li>
  </ul>
  <ul class="menu nav-items flex-content">
    <li>
      <a href="/" class="main-nav__link">HOME</a>
    </li>
    <li>
      <a href="#" class="main-nav__link">ABOUT</a>
    </li>
    <li>
      <a href="#" class="main-nav__link">PAGES</a>
    </li>
    <li>
      <a href="#" class="main-nav__link">PROJECTS</a>
    </li>
    <li>
      <a href="#" class="main-nav__link">BLOG</a>
    </li>
    <li class="has-dropdown">
      <span class="main-nav__link">FEATURES</span>
      <include src="html/components/header/dropdown.html"></include>
    </li>
    <li>
      <a href="#" class="main-nav__link">CONTACT</a>
    </li>
  </ul>
</nav>