<div class="nav-container">
  <nav class="secondary-nav">
    <ul class="secondary-nav__list">
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-facebook" xlink:href="#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-google-plus" xlink:href="#icon-google-plus" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-youtube" xlink:href="#icon-youtube" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-twitter" xlink:href="#icon-twitter" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-linkedin" xlink:href="#icon-linkedin" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-dribble" xlink:href="#icon-dribble" />
          </svg>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-skype" xlink:href="#icon-skype" />
          </svg>
        </a>
      </li>
    </ul>

    <ul class="secondary-nav__list">
      <li class="secondary-nav__item">
        <a href="mailto:name@yoursite.com" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-envelope" xlink:href="#icon-envelope" />
          </svg>
          <span>name@yoursite.com</span>
        </a>
      </li>
      <li class="secondary-nav__item">
        <a href="tel:19003245467" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-phone" xlink:href="#icon-phone" />
          </svg>
          <span>1-900-324-5467</span>
        </a>
      </li>
      <li class="secondary-nav__item secondary-nav__item--no-border">
        <a href="#" class="secondary-nav__link">
          <svg class="icon">
            <use href="#icon-user" xlink:href="#icon-user" />
          </svg>
          <span>Login / Register</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


