.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: $text-black-1;
  margin: 0;

  &--white {
    color: $white;
  }

  &--underline {
    position: relative;
    text-align: center;

    &::after {
      content: "";
      background: $primary-color;
      height: 3px;
      width: 27px;
      position: absolute;
      left: 49%;
      top: 38px;
    }
  }
}

.paragraph {
  color: $paragraph-color;
  font-size: 18px;
  line-height: 1.5;
}

.no-padding {
  padding: 0;
}

.span-2 {
  grid-column: span 2;
}