$primary-color: #53D0E1;
$progress-bar-fill: #53D0E1;
$icons-grey-1: #888888;
$icons-grey-2: #666666;
$border-progress-bar: #CBCBCB;
$secondary-nav-boder-color: #F2F2F2;
$text-black-1: #222222;
$white: #FFFFFF;
$text-hero-color: #C7C6C9;
$paragraph-color: #6D6D6D;
$paragraph-color-2: #8A8A8A;
$bg-section-color: #F5F5F5;